[user]
  name = Gio d'Amelio
  email = giodamelio@gmail.com

[core]
  editor = $EDITOR
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
  ci = commit
  st = status
  br = branch
  co = checkout
  chp = cherry-pick
  d = diff
  zco = !git checkout $(git branch | fzf | cut -c 3-)
  ca = commit -am
  h = log --graph --pretty=format:'%Cred%h%Creset %G? -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  amend = commit --amend
  remove-last = reset --soft HEAD~1
  remove-last-hard = reset --hard HEAD~1
  cdiff = diff --cached
  ldiff = diff HEAD~1 HEAD
  rh = reset HEAD
  rm-deleted = !git ls-files --deleted -z | xargs -0 git rm
  cb = rev-parse --abbrev-ref HEAD
  count = rev-list --count
  up = pull --rebase --autostash
  ignored = status --ignored
  fixup = commit --amend -C HEAD

  # Legit aliases
  switch = !legit switch \"$@\"
  branches = !legit branches
  sprout = !legit sprout \"$@\"
  unpublish = !legit unpublish \"$@\"
  harvest = !legit harvest \"$@\"
  sync = !legit sync \"$@\"
  publish = !legit publish \"$@\"
  graft = !legit graft \"$@\"

  # Hub aliases
  pull-request = !hub pull-request \"$@\"
  pr = !hub pull-request \"$@\"

[push]
  default = matching

[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[diff]
  algorithm = patience

[commit]
  gpgsign = true

[icdiff]
  options = --line-numbers

[branch]
  sort = -authordate

[include]
  path = .gitconfig_local
