[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = http://www.github.com/flazz/vim-colorschemes.git
